.services{
	.contenedor{
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: url(../img/comida4.jpg) no-repeat -200px 0;
		.sidebar{
			width: 600px;

			img{
				width: 100%;
				display: flex;
			}
		}
		ul{
			display: flex;
			padding: 30px;
			flex-direction: column;
			align-items: center;
			color: $color-typo;
			margin-left: 90px;
			margin-bottom: 40px;

			h2{
				font-size: 40px;
				font-family: $font-sec;
				font-weight: $bold;
				margin: 20px 0;
			}
			h3{
				font-size: 30px;
				font-family: $font-sec;
				font-weight: $bold;
				text-align: center;
				margin: 20px 0;
			}
		}
	}
}

.newsletter2 .contenedor{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	background: $color-principal;

}

.newsletter2{
	.social{
		display: flex;
		flex-direction: row;

		a{
			text-decoration: none;
			font-size: 30px;
			margin: 0 10px;
			color: $color-typo;
		}

		span{
			border: 2px solid $color-typo;
			border-radius: 20%;
			height: 40px;
			width: 40px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 5px;

			&:hover{
				background-color: $color-typo;
				color: $color-principal;
			}
		}
	}

	.formu{
		h2{
			font-size: 20px;
			font-family: $font-sec;
			font-weight: $bold;
			margin-top: 10px;
			color: $color-typo;
		}

		input{
			width: 100%;
			height: 30px;
			margin: 8px 0;
			border: 1px solid $color-typo;
			border-radius: 4%;
			box-sizing: border-box;
		}

		button{
			width: 50%;
			padding: 3px;
			border: 2px solid $color-typo;
			border-radius: 4px;
			box-sizing: border-box;
			background: $color-principal;
			color: $color-typo;
			font-family: $font-sec;
			font-weight: $bold;

			&:hover{
				background-color: $color-typo;
				color: $color-principal;
			}
		}
	}
}


.footer2{
	.contenedor{
		display: flex;
		justify-content: space-around;
		background-color: $color-separador;
		padding: 10px 0;
		h2{
			font-family: $font-sec;
			font-weight: $bold;
			font-size: 18px;
			text-transform: uppercase;
			padding: 10px 0;
			color: $color-typo;
			letter-spacing: 1px;
		}

		ul{
			li{
				padding: 5px 0;
				font-family: $font-titulo;
				font-weight: $bold;
				font-size: 15px;

				a{
					text-decoration: none;
					color: $color-typo;

					&:hover{
						color: $color-principal;
					}
				}
			}
		}
	}
}

.copy2{
	.contenedor{
		display: flex;
		justify-content: center;
		background-color: $color-separador;
		color: $color-typo;
	}
}